<!Doctype html>
<html>
  <head>
    <title>
      Jovian Career Website
    </title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        width: 100%;
        
        
      }
    </style>
  </head>
  <body ">
   {% include 'nav.html' %} 
    <div class="container">
    <h1 class= 'text-center' mt-2 mb-4>Jovian Careers</h1>
    <img id="banner" class="img-fluid" src="https://jovian-career-website-1.sonaligoyal3.repl.co/static/banner.jpg" alt="loading" height="320" style="margin-bottom:20px;">
    <h2 class="text-center" mt-2 mb-4 style="margin-bottom:29px;">About Jovian</h2>
      <div class ='row'>
        <div class='col-6'>
    <p class="lead"> Jovian is a learning platform for data science and machine learning that offers practical, hands-on, and coding-focused courses.
  Aakash is the CEO and co-founder of Jovian. He holds a degree in computer science and mathematics from IIT Bombay. Aakash has worked as a software engineer at Twitter, Ireland & San Francisco. He was a world finalist at ACM ICPC, the olympics of programming. Courses taught by Aakash have 1.5 million+ views on YouTube.
    </p>
        </div>
          <div class='col-6'>
          <img src='/static/people.jpg' alt="load" style="height:320px; border-radius:4px;">
        </div>
      </div>
    <h2 class="text-center" mt-2 mb-4>Open Positions</h2>
    <p class="lead"> 
    <div>
    {% for job in jobs %}
    {% include 'jobitem.html' %}
      {% endfor %}
    
     
    </div>
    </p>
      <div class="text-center">
    <a href="mailto:contactUs@jovian.ai?subject= Query of Job Application for{{jobs[]}}" class="btn btn-primary btn-lg">Contact Us</a>
      </div>
    </div>
   {% include 'footer.html' %}
  </body>
  
  
</html>